/* Importação das variáveis*/
@import url(variaveis.css);

/* Importação das fontes (google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&family=Open+Sans:wght@400&display=swap');

body {
    background-color: var(--bg);
}
body, html, main {
    height: 100%;
}

/* Classes globais */
.rounded-lg {
    border-radius: 0.5em !important;
}

.texto-simples {
    font-family: var(--fonte-simples);
    font-size: 15px;
}
.color-cinza-claro {
    color: #67748e;
}
.bg-azul {
    background-color: var(--azul-degrade) !important;
}
.color-branco {
    color: white;
}