.degrade-azul {
    background: linear-gradient(310deg, var(--azul-degrade), var(--azul-claro-degrade));
}

button.degrade-azul {
    border: none !important;

    font-size: 14px !important;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

button.degrade-azul:hover {
    transform: scale(1.009);
}

.btn-outline-primary {
    color: var(--azul-degrade) !important;
    border-color: var(--azul-degrade) !important;
}

.btn-outline-primary:hover {
    color: white !important;
}

.descricao {
    font-family: var(--fonte-simples);
    color: var(--cinza-texto);
    font-size: 12px;
    font-weight: 900;
    margin: 0;
}

.titulo {
    font-weight: 700;
    font-family: var(--fonte-simples);
    color: var(--cinza-texto);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.texto-basico {
    font-size: 12px;
}

#bg {
    position: absolute;

    top:0;
    right:0;
    height: 100%;
    width: 50%;

    background: linear-gradient(270deg, rgba(248, 249, 250, 0) 0%, white 95.13%), url("../../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

.label-reduce span, .label-reduce {
    font-size: 14px;
    font-family: var(--fonte-simples);
    text-decoration: none;
    font-weight: 700;
}

.label-reduce span{
    font-weight: 500;
}

.MuiOutlinedInput-root, .MuiFormControl-root{
    border-radius: 0.5em !important;
}

.bg-texto {
    align-items: flex-start;
}
.bg-texto h1 {
    font-weight: 700;
    color: var(--azul-escuro-titulo);
    font-family: var(--fonte--jost);
    font-size: 5em;
}
.bg-texto p{
    font-weight: 500;
    color: var(--cinza-texto);
    font-family: var(--fonte-simples);
    font-size: 1.2em;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    .texto {
        font-size: 12px !important;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}